{% extends 'base.html' %}

{% block title %}
  Answering machine
{% endblock %}

{% block subtitle %}
  <strong>Project</strong> {{project}}<br />
  <strong>Question</strong> {{question}}<br />
  <strong>Student</strong> {{student.name}} {{student.surname}} / {{student.email}}
{% endblock %}

{% block content %}

Please hit submit before {{project.upload_ends_at}} or this answer will be lost.

<h3>Q: {{question}}</h3>

  <div class="question">
    <div class="subject">{{question.subject}}</div>
  </div>

  {% if answer_id %}
  <form action="/answer/{{question.id}}/{{answer_id}}"
  {% else %}
  <form action="/answer/{{question.id}}"
  {% endif %}
        enctype="multipart/form-data"
        method="post">
        {%csrf_token%}
        {{answer_form.as_p}}
        <input type="submit" value="Submit"/>
  </form>


{% endblock %}


{% block footer %}
Please submit your answers before {{project.upload_ends_at}}.<br />
After this time, you won't be able to access this page or to submit any question.
{% endblock %}

