{% extends 'base.html' %}

{% block title %}
  Answering machine
{% endblock %}

{% block subtitle %}
  <strong>Project</strong> {{project}}<br />
  <strong>Student</strong> {{student.name}} {{student.surname}}
{% endblock %}


{% block content %}
<ul>
  <li><strong>Opens</strong> {{project.upload_opens_at}}</li>
  <li><strong>Closes</strong> {{project.upload_ends_at}}</li>
</ul>

{% if project.subject %}
  <p class="subject">{{project.subject|linebreaksbr}}</p>
{% endif %}

{% for qa in qas.values %}
  <h3>Q: {{qa.question}}</h3>

  <div class="question">
    <div class="subject">{{qa.question.subject|linebreaksbr}}</div>
    
    {% for answer in qa.answers %}
      <pre class="answer">{{answer.answer|linebreaksbr}}{% if project.is_upload_open %}
          <br />
          <a href="/answer/{{qa.question.id}}/{{answer.id}}">Update this answer</a>{% endif %}</pre>
    {% endfor %}
    
    {% if project.is_upload_open %}
      <a href="/answer/{{qa.question.id}}">Add a new answer</a>
    {% endif %}
  </div>
{% endfor %}

{% endblock %}


{% block footer %}
Please submit your answers before {{project.upload_ends_at}}.<br />
After this time, you won't be able to access to submit any new answers.
{% endblock %}

