{% extends 'base.html' %}

{% block title %}
  Answering machine
{% endblock %}

{% block subtitle %}
  Project : {{project}} : registration
{% endblock %}

{% block content %}
<h2>You're enrolling yourself in {{project}}</h2>

<form method="post" action="/project/{{project.id}}/register">
  {% csrf_token %}
  {{ student_form.as_p }}
  <input type="submit" value="Submit" />
</form>

{% endblock %}

{% block footer %}
Please use the link received by e-mail to answer your project questions.
{% endblock %}
